.Content {
    background-color: #282c34;
    min-height: 350px;
    max-height: 350px;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(31, 30, 30, 0.24);
    /* border-radius: 10px; */
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #bdcdff;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #6f7992;;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.Card1{
    max-width: 190px;
    min-width: 190px;
    border-radius: 10px;
    padding: 1.5px;
    background-color: rgb(184, 184, 255);
    color:black;
    font-family: cursive;
    font-size: 15px;
}
.Card2{
    min-width: 190px;
    max-width: 190px;
    border-radius: 10px;
    padding: 1.5px;
    background-color: rgb(184, 255, 184);
    color:black;
    font-family: cursive;
    font-size: 15px;
}
.user-name{
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    list-style: none;
}

@media only screen and (max-width: 800px) {
    .Content{
        width:80%;
    }
}
@media only screen and (max-width: 1200px) {
    .Content{
        width:80%;
    }
}


